html, body {
	background-color: #394264;
	text-align: center;
	height: 100%;
	font-family: 'Fjord One', serif;
	color: #ffffff;
}

h1 {
	font-size: 45px;
	font-weight: bold;
}

main {
	height: 98%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #1F253D;

}


.hidden {
	display: none;
}
